/* Browser Reset */
* {
    margin: 0;
    padding: 0;
  }

/* Global Styles */
html  {
    font-family: "Benne","Helvetica", Arial, sans-serif;
    font-size: 22px;
    line-height: normal;
  }
  
  body {
    background-color: black;
    color:seashell;
    opacity: 0.9;
    text-align: center;
  }

/* Header Styles */

header {
    width: 100%;
    height: 69px;
    z-index: 2;
    position: fixed;
    display: flex;
    border-bottom: 1px solid seashell;
    background-color:black;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-flex;
    flex-direction: row;
    margin-left: 10px;
    height: 50px;
}

nav li {
    list-style: none;
    display: inline-flex;
    flex-direction: row-reverse;
    padding-right: 25px;
}

nav a {
    text-decoration: none;
    color: #ffc200;  
}

nav a:hover {
    opacity:0.5;  
}

/* Mission Statemen Styles */

#mission {
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg);
    display: flex;
    position: relative;
    top: 70px;
    height: 700px;
    width: 1200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    margin: auto;
}

/* .mission-statement {
    display: flex;
    flex-shrink: 2;
} */

.mission-statement h2{
    background-color: black;
    width: 1200px;
    text-align: center;
    padding: 20px 0 20px 0;
}

.mission-statement h4{
    background-color: black;
    width: 1200px;
    text-align: center;
    padding-bottom: 20px;
}

/* Featured Teas Section Styles */

#featured {
    width: 1000px;
    margin: 150px auto 90px auto;
    position: relative;
}

.featured-statement {
    text-align: center;
    margin: 20px;
}

.flexbox-center {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.img-container {
    display: block;
}

.img-container img{
    height: 200px;
    width: 300px;
    flex-basis: auto;
    margin: 10px;
}

figcaption {
    text-align: center;
    margin-bottom:20px;
    font-weight: bold;
}

/* Locations Section Styles */

